<div class="row">
    <div class="col-3">
      <div class="list-group" id="list-tab" role="tablist">
          <button class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" (click)="profile()" >Profile</button>
          <button class="list-group-item list-group-item-action bg-info" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" (click)="events()">Events</button>
      </div>
    </div>
    <div class="col-6">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      </div>
    </div>
  </div>
  <div  id="center">
      <ul class="list-group" *ngFor="let item of eventsArr1">
        <li class="list-group-item bg-info">Event details</li>
        <li class="list-group-item">{{item.title}}</li>
        <li class="list-group-item">{{item.eventDate | date:'fullDate'}}</li>
      </ul>
  </div>
