#center{
    position: fixed;
    top: 15%;
    left: 9%;
    box-shadow: -4px -3px 45px 21px rgba(169, 224, 238, 0.35);
    width: 90rem;
    height:40rem;
}
.center{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scrollable{
    height:800px;
    width: 100rem;
    overflow: scroll;
}
.font{
  font-family:Georgia, 'Times New Roman', Times, serif; 
  padding-left: 50rem;
  font-weight: bolder;
  font-size:xx-large;
  padding-top: 1rem;
}
.font1{
  font-family:Georgia, 'Times New Roman', Times, serif; 
  padding-left: 50rem;
  font-weight: bolder;
  font-size:medium;
  padding-top: 1rem;
}
