<div class="row">
    <div class="col-3">
      <div class="list-group" id="list-tab" role="tablist">
          <button class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" [routerLink]="['/student']" >Students</button>
          <button class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" [routerLink]="['/speaker']" >Speakers</button>
          <button class="list-group-item list-group-item-action bg-info" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" [routerLink]="['/event']">Events</button>
      </div>
    </div>
    <div class="col-6">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      </div>
    </div>
  </div>